<h1 id="tableLabel">Appointments</h1>

<p>List of appointments</p>

<p *ngIf="!appointments"><em>Loading...</em></p>

<div class="row">
  <div class="col-lg-3">
    <a [routerLink]='["/add-appointment"]' class="btn btn-primary">
      Add Appointment
    </a>
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="appointments">
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of appointments">
      <td>{{ appointment.startTime }}</td>
      <td>{{ appointment.customer }}</td>
      <td>{{ appointment.cost }}</td>
    </tr>
  </tbody>
</table>

